

*{
    box-sizing: border-box;
}

body{
    background-image: url(/countdown.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.countdown-container{
    display: flex;
}
h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 12rem ;
} 
.big-text{
    font-weight: bold;
    font-size: 2rem;
    line-height: 2;
    margin: 0 1rem;
}
.countdown-el{
    text-align: center;
}
.countdown-el span{
    font-size: 1rem;
}